// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 4rem;
//FONT
$default-font-size: 1.6rem;
//COLORS
$color-white: #fff;
$color-grey--light: #d5ced0;
$color-grey--light-2: #f9e8eb;
$color-primary: #c28283;
$color-secondary: #f9e8eb;
$color-tertiary: #476667;
$color-tertiary--light: #6b8485;
$color-tertiary--light-2: #6a8081;
